<div class="container">
  <div class="calculator">
    <input type="text" [value]="content" disabled/>
    <input  type="text" [value]="(value$|async)?.total" disabled/>
    <input type="button" value="1" (click)="enterNumber($event)"/>
    <input type="button" value="2" (click)="enterNumber($event)"/>
    <input type="button" value="3" (click)="enterNumber($event)"/>
    <input class="small" type="button" value="+" (click)="enterOperator($event)"/>
    <input type="button" value="4" (click)="enterNumber($event)"/>
    <input type="button" value="5" (click)="enterNumber($event)"/>
    <input type="button" value="6" (click)="enterNumber($event)"/>
    <input class="small" type="button" value="-" (click)="enterOperator($event)"/>
    <input type="button" value="7" (click)="enterNumber($event)"/>
    <input type="button" value="8" (click)="enterNumber($event)"/>
    <input type="button" value="9" (click)="enterNumber($event)"/>
    <input class="small" type="button" value="*" (click)="enterOperator($event)"/>
    <input type="button" value="C" (click)="enterOperator($event)"/>
    <input type="button" value="0" (click)="enterNumber($event)"/>
    <input type="button" value="/" (click)="enterOperator($event)"/>
    <input class="small" type="button" value="=" (click)="enterOperator($event)"/>
  </div>
</div>


